<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开发助手</title>
    <link rel="stylesheet" href="/layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">开发助手</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left" lay-filter="nav-filter2">
            <li class="layui-nav-item"><a href="/document/index/document.html">API文档</a></li>
            <li class="layui-nav-item"><a href="/document/index/authority.html">权限文档</a></li>
            <li class="layui-nav-item"><a href="/document/index/code.html">状态码文档</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">资源文档</a>
                <dl class="layui-nav-child">
                    <dd><a href="">框架文档</a></dd>
                    <dd><a href="">图标资源</a></dd>
                    <dd><a href="">公共API</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a href="javascript:;">控制台</a>
                <dl class="layui-nav-child">
                    <dd><a href="">初始化文件</a></dd>
                    <dd><a href="">交接中心</a></dd>
                    <dd><a href="">安全中心</a></dd>
                </dl>
            </li>

            <li class="layui-nav-item">
                <a href="javascript:;">项目管理</a>
                <dl class="layui-nav-child">
                    <dd><a href="">人员管理</a></dd>
                    <dd><a href="">角色管理</a></dd>
                    <dd><a href="">项目配置</a></dd>
                </dl>
            </li>


        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    PIZEPEI
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="">退了</a></li>-->
        </ul>
    </div>
        <!-- 内容主体区域 -->
        <div style="padding: 15px;background-color:#F0F0F0;" >
            <fieldset class="layui-elem-field layui-field-title">
                <legend>权限文档</legend>
                <div class="layui-field-box">

                    <div class="layui-row layui-col-space10" id="headTab-id">
                        <!--简单控制器信息-->

                        <div class="layui-col-md6 layui-col-md-offset1">
                            <fieldset class="layui-elem-field layui-field-title"><legend>权限树扩展分享</legend></fieldset>
                            <!-- 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 -->
                            <form class="layui-form">
                                <div class="layui-form-item">
                                    <label class="layui-form-label">角色名称</label>
                                    <div class="layui-input-block">
                                        <input class="layui-input" type="text" name="name" placeholder="请输入角色名称" />
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label">选择权限</label>
                                    <div class="layui-input-block">
                                        <div id="LAY-auth-tree-index"></div>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <div class="layui-input-block">
                                        <button class="layui-btn" type="submit" lay-submit lay-filter="LAY-auth-tree-submit">提交</button>
                                        <button class="layui-btn layui-btn-primary" type="reset">重置</button>
                                    </div>
                                </div>
                            </form>
                        </div>




                    </div>

                </div>
            </fieldset>

        </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © pizepei.com - 框架
    </div>
</div>
<script src="/layui/layui.js"></script>
<script>

    layui.config({
        base: '/extends/',
    }).extend({
        authtree: 'authtree',
    });
    layui.use(['jquery', 'authtree', 'form', 'layer'], function(){
        var $ = layui.jquery;
        var authtree = layui.authtree;
        var form = layui.form;
        var layer = layui.layer;
        // 初始化
        $.ajax({
            url: '/document/jurisdiction-list',
            dataType: 'json',
            success: function(data){
                // 渲染时传入渲染目标ID，树形结构数据（具体结构看样例，checked表示默认选中），以及input表单的名字
                authtree.render('#LAY-auth-tree-index', data.data.initJurisdictionList, {
                    inputname: 'ids[]'
                    ,layfilter: 'lay-check-auth'
                    // ,dblshow: true
                    // ,dbltimeout: 180
                    // ,autoclose: false
                    // ,autochecked: false
                    // ,openchecked: true
                    // ,openall: true
                    // ,hidechoose: true
                    // ,checkType: 'radio'
                    // ,checkSkin: 'primary'
                    ,autowidth: true
                });

                // PS:使用 form.on() 会引起了事件冒泡延迟的BUG，需要 setTimeout()，并且无法监听全选/全不选
                // PS:如果开启双击展开配置，form.on()会记录两次点击事件，authtree.on()不会
                /*			form.on('checkbox(lay-check-auth)', function(data){
                                // 注意这里：需要等待事件冒泡完成，不然获取叶子节点不准确。
                                setTimeout(function(){
                                    console.log('监听 form 触发事件数据', data);
                                    // 获取选中的叶子节点
                                    var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                                    console.log('leaf', leaf);
                                    // 获取最新选中
                                    var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                                    console.log('lastChecked', lastChecked);
                                    // 获取最新取消
                                    var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                                    console.log('lastNotChecked', lastNotChecked);
                                }, 100);
                            });
                */			// 使用 authtree.on() 不会有冒泡延迟
                authtree.on('change(lay-check-auth)', function(data) {
                    console.log('监听 authtree 触发事件数据', data);
                    // 获取所有节点
                    var all = authtree.getAll('#LAY-auth-tree-index');
                    // 获取所有已选中节点
                    var checked = authtree.getChecked('#LAY-auth-tree-index');
                    // 获取所有未选中节点
                    var notchecked = authtree.getNotChecked('#LAY-auth-tree-index');
                    // 获取选中的叶子节点
                    var leaf = authtree.getLeaf('#LAY-auth-tree-index');
                    // 获取最新选中
                    var lastChecked = authtree.getLastChecked('#LAY-auth-tree-index');
                    // 获取最新取消
                    var lastNotChecked = authtree.getLastNotChecked('#LAY-auth-tree-index');
                    console.log(
                        'all', all,"\n",
                        'checked', checked,"\n",
                        'notchecked', notchecked,"\n",
                        'leaf', leaf,"\n",
                        'lastChecked', lastChecked,"\n",
                        'lastNotChecked', lastNotChecked,"\n"
                    );
                });
                authtree.on('deptChange(lay-check-auth)', function(data) {
                    console.log('监听到显示层数改变',data);
                });
                authtree.on('dblclick(lay-check-auth)', function(data) {
                    console.log('监听到双击事件',data);
                });
            },
            error: function(xml, errstr, err) {
                layer.alert(errstr+'，获取样例数据失败，请检查是否部署在本地服务器中！');
            }
        });
        // 表单提交样例
        form.on('submit(LAY-auth-tree-submit)', function(obj){
            var authids = authtree.getChecked('#LAY-auth-tree-index');
            console.log('Choosed authids is', authids);
            // obj.field.authids = authids;
            $.ajax({
                url: 'tree.json',
                dataType: 'json',
                data: obj.field,
                success: function(res){
                    layer.alert('提交成功！');
                }
            });
            return false;
        });
    });

    /**
     * 设置Table的显示状态
     */
    function setTableDivStatus(data,elem){

        layui.use(['jquery'], function(){
            var $ = layui.jquery;

            if(data.data.info == null){

                $('#request-table-div').hide();
                $('#return-table-div').hide();

            }else{
                // 不是父控制器
                getRequestParam(elem);
                $('#request-table-div').show();
                $('#return-table-div').show();
                if(data.data.info.Param.get === undefined){
                    $('#request-table-get-div').hide();
                }else{
                    $('#request-table-get-div').show();

                }
                if(data.data.info.Param.path === undefined){
                    $('#request-table-path-div').hide();
                }else{
                    $('#request-table-path-div').show();
                }
                if(data.data.info.Param.rule === undefined){
                    $('#request-table-rule-div').hide();
                }else{
                    $('#request-table-rule-div').show();
                }
                if(data.data.info.Param.post === undefined){
                    $('#request-table-post-div').hide();
                }else{
                    $('#request-table-post-div').show();
                }

            }
        });

    }
</script>

</body>


<script id="authtree" type="text/html">


    <!--<div class="layui-col-md6 layui-col-md-offset1">-->
        <!--<fieldset class="layui-elem-field layui-field-title"><legend>权限树扩展分享</legend></fieldset>-->
        <!--&lt;!&ndash; 此扩展能递归渲染一个权限树，点击深层次节点，父级节点中没有被选中的节点会被自动选中，单独点击父节点，子节点会全部 选中/去选中 &ndash;&gt;-->
        <!--<form class="layui-form">-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">角色名称</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<input class="layui-input" type="text" name="name" placeholder="请输入角色名称" />-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<label class="layui-form-label">选择权限</label>-->
                <!--<div class="layui-input-block">-->
                    <!--<div id="LAY-auth-tree-index"></div>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="layui-form-item">-->
                <!--<div class="layui-input-block">-->
                    <!--<button class="layui-btn" type="submit" lay-submit lay-filter="LAY-auth-tree-submit">提交</button>-->
                    <!--<button class="layui-btn layui-btn-primary" type="reset">重置</button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->

</script>


</html>