<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>开发助手</title>
    <link rel="stylesheet" href="../layui/css/layui.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin">
    <div class="layui-header">
        <div class="layui-logo">开发助手</div>
        <!-- 头部区域（可配合layui已有的水平导航） -->
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item"><a href="">API文档</a></li>
            <li class="layui-nav-item"><a href="">权限文档</a></li>
            <li class="layui-nav-item"><a href="">状态码文档</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;">资源文档</a>
                <dl class="layui-nav-child">
                    <dd><a href="">框架文档</a></dd>
                    <dd><a href="">图标资源</a></dd>
                    <dd><a href="">公共API</a></dd>
                    <dd><a href="">授权管理</a></dd>
                </dl>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                    PIZEPEI
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="">基本资料</a></dd>
                    <dd><a href="">安全设置</a></dd>
                </dl>
            </li>
            <!--<li class="layui-nav-item"><a href="">退了</a></li>-->
        </ul>
    </div>

    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll" >
            <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
            <ul class="layui-nav layui-nav-tree"  lay-filter="nav-filter" id="nav-id">


            </ul>
        </div>
    </div>

    <div class="layui-body">
        <!-- 内容主体区域 -->
        <div style="padding: 15px;background-color:#F0F0F0;" >
            <fieldset class="layui-elem-field layui-field-title">
                <legend>API详情</legend>
                <div class="layui-field-box">

                    <div class="layui-row layui-col-space10" id="headTab-id">
                            <!--简单控制器信息-->
                    </div>


                </div>
            </fieldset>

            <div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
                <ul class="layui-tab-title">
                    <li class="layui-this">请求参数</li>
                    <li>返回参数</li>
                </ul>
                <div class="layui-tab-content" >
                    <div class="layui-tab-item layui-show">
                        <div id="request-table-div">
                            <div id="request-table-path-div">
                                <table id="request-table-path" lay-filter="test"></table>
                            </div>

                            <div id="request-table-get-div">
                                <table id="request-table-get" lay-filter="test"></table>
                            </div>

                            <div id="request-table-rule-div">
                                <table id="request-table-rule" lay-filter="test"></table>
                            </div>

                            <div id="request-table-post-div">
                                <table id="request-table-post" lay-filter="test"></table>
                            </div>

                        </div>
                    </div>
                    <div class="layui-tab-item">

                        <div id="return-table-div">
                            <table id="return-table-json" lay-filter="test"></table>
                            <table id="return-table-xml" lay-filter="test"></table>

                        </div>



                    </div>
                </div>
            </div>



            <!--<blockquote class="layui-elem-quote">文档内容</blockquote>-->


        </div>
    </div>

    <div class="layui-footer">
        <!-- 底部固定区域 -->
        © pizepei.com - 框架
    </div>
</div>
<script src="../layui/layui.js"></script>
<script>
    //JavaScript代码区域
    layui.use(['element','table','laytpl','jquery','laytpl'], function(){
        var element = layui.element,
        laytpl = layui.laytpl, $ =layui.jquery,laytpl=layui.laytpl,
        table = layui.table;
        // 菜单点击事件
        element.on('nav(nav-filter)', function(elem){
            // console.log(elem.context.name); //得到当前点击的DOM对象  route
            // console.log(elem.context.rel); //得到当前点击的DOM对象  父对象
            // console.log(elem.context.innerText); //得到当前点击的DOM对象

            $.ajax({//异步请求返回给后台
                url:'index-nav',
                type:'GET',
                data:{father:elem.context.rel,index:elem.context.name},
                dataType:'json',
                success:function(data){
                    // headTabTpl
                    console.log(data); //得到当前点击的DOM对象
                    //这里获取到数据执行显示

                    var getTpl = headTabTpl.innerHTML
                        ,view = document.getElementById('headTab-id');
                    laytpl(getTpl).render(data.data, function(html){
                        view.innerHTML = html;
                        element.render('nav'); //重新对导航进行渲染。注：layui 2.1.6 版本新增
                    });
                    //设置显示逻辑、和亲戚逻辑
                    setTableDivStatus(data,elem);

                }
            });

        });
        element.render('nav')
        $.ajax({//异步请求返回给后台
            url:'nav-list',
            type:'GET',
            data:{},
            dataType:'json',
            success:function(data){
                console.log(data); //得到当前点击的DOM对象
                var getTpl = navtpl.innerHTML
                    ,view = document.getElementById('nav-id');
                laytpl(getTpl).render(data, function(html){
                    view.innerHTML = html;
                    element.render('nav'); //重新对导航进行渲染。注：layui 2.1.6 版本新增
                });
                //这里获取到数据执行显示
            }
        });


    });


    /**
     * 回车事件
     * @param e
     */
    document.onkeydown = function (e) {
        if (!e) e = window.event;
        if ((e.keyCode || e.which) == 13) {
            alert(e);
            // $("#btnSubmit").click();
        }
    }
    /**
     *请求获取请求参数信息
     */
    function getRequestParam(elem ){
        layui.use(['element','table','laytpl','jquery','laytpl'], function(){
            var element = layui.element,
                laytpl = layui.laytpl, $ = layui.jquery, laytpl = layui.laytpl,
                table = layui.table;
            //这里获取到数据执行显示
            table.render({
                elem: '#request-table-get'
                ,url:'request-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'get'}
                // ,toolbar: '#toolbarDemo-get'
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'get'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">GET请求参数</span>',width:'100%', colspan: 4}
                    ],
                    [
                    {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                    ,{field: 'type', title: '数据类型', width:'10%'}
                    ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                    ,{field: 'fieldExplain', title: '字段说明', width:'33%'}
                ]
                ]
                ,page: false
            });

            //这里获取到数据执行显示
            table.render({
                elem: '#request-table-post'
                ,url:'request-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'post'}
                // ,toolbar: '#toolbarDemo-post'
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'get'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">P0ST请求参数</span>',width:'100%', colspan: 4}
                    ],
                    [
                    {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                    ,{field: 'type', title: '数据类型', width:'10%'}
                    ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                    ,{field: 'fieldExplain', title: '字段说明', width:'33%'}

                ]]
                ,page: false
            });

            //这里获取到数据执行显示
            table.render({
                elem: '#request-table-rule'
                ,url:'request-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'rule'}
                // ,toolbar: '#toolbarDemo-rule'
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'rule'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">RULE请求参数</span>',width:'100%', colspan: 4}
                    ],
                    [
                    {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                    ,{field: 'type', title: '数据类型', width:'10%'}
                    ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                    ,{field: 'fieldExplain', title: '字段说明', width:'33%'}

                ]]
                ,page: false
            });

            //这里获取到数据执行显示
            table.render({
                elem: '#request-table-path'
                ,url:'request-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'path'}
                // ,toolbar: '#toolbarDemo-path'
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'get'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">PATH请求参数</span>',width:'100%', colspan: 4}
                    ],
                    [
                    {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                    ,{field: 'type', title: '数据类型', width:'10%'}
                    ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                    ,{field: 'fieldExplain', title: '字段说明', width:'33%'}

                ]]
                ,page: false
            });


            table.render({
                elem: '#return-table-json'
                ,url:'return-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'json'}
                // ,toolbar: '#toolbarDemo-path'
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'get'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">返回参数JSON</span>',width:'100%', colspan: 4}
                    ],
                    [
                    {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                    ,{field: 'type', title: '数据类型', width:'10%'}
                    ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                    ,{field: 'fieldExplain', title: '字段说明', width:'33%'}
                ]]
                ,page: false
            });



            table.render({
                elem: '#return-table-xml'
                ,url:'return-param'
                ,where:{father:elem.context.rel,index:elem.context.name,type:'xml'}
                ,title: elem.context.rel+'-'+elem.context.name+'-'+'get'
                ,cols: [
                    [ //标题栏
                        {align: 'center', title: '<span class="layui-badge layui-bg-green">返回参数XML</span>',width:'100%', colspan: 4}
                    ],
                    [
                        {field: 'field', title: '字段', width:'32%',style:'color:#009688;'}
                        ,{field: 'type', title: '数据类型', width:'10%'}
                        ,{field: 'fieldRestrain', title: '约束', width:'25%'}
                        ,{field: 'fieldExplain', title: '字段说明', width:'33%'}
                    ]]
                ,page: false
            });



        });
    }

    /**
     * 设置Table的显示状态
     */
    function setTableDivStatus(data,elem){

        layui.use(['jquery'], function(){
            var $ = layui.jquery;

        if(data.data.info == null){

            $('#request-table-div').hide();
            $('#return-table-div').hide();

        }else{
            // 不是父控制器
            getRequestParam(elem);
            $('#request-table-div').show();
            $('#return-table-div').show();
            if(data.data.info.Param.get === undefined){
                $('#request-table-get-div').hide();
            }else{
                $('#request-table-get-div').show();

            }
            if(data.data.info.Param.path === undefined){
                $('#request-table-path-div').hide();
            }else{
                $('#request-table-path-div').show();
            }
            if(data.data.info.Param.rule === undefined){
                $('#request-table-rule-div').hide();
            }else{
                $('#request-table-rule-div').show();
            }
            if(data.data.info.Param.post === undefined){
                $('#request-table-post-div').hide();
            }else{
                $('#request-table-post-div').show();
            }

        }
        });

    }
</script>

</body>
<!--菜单模板-->
<script id="navtpl" type="text/html">

    <li class="layui-nav-item ">
        <input type="text" placeholder="搜索" value="" class="layui-input" style="width: 99%" >
    </li>

    {{#  layui.each(d, function(indexFather, item){ }}
    <li class="layui-nav-item ">
        <a href="javascript:;" rel="{{indexFather}}" >{{item.title}}</a>
        <dl class="layui-nav-child">
            {{#  layui.each(item.route, function(index, item){ }}
            <dd><a href="javascript:;" rel="{{indexFather}}" name="{{index}}">
            {{#  if(item.title.length === 0){ }}
                {{index}}
            {{#  }else{ }}
                {{item.title}}
             {{#  }}}
            </a></dd>
            {{#  }); }}
        </dl>
    </li>
    {{#  }); }}

</script>
<!--选项卡模板-->
<script id="headTabTpl" type="text/html">

    <div class="layui-col-md6">

        <div class="layui-card">
            <div class="layui-card-header">控制器信息</div>
            <div class="layui-card-body">
                <b>介绍：</b>类名：{{d.fatherInfo.title}}&nbsp;&nbsp;|&nbsp;&nbsp;创建者：{{d.fatherInfo.User}}<br>
                <b>命名空间：</b>{{d.fatherInfo.index}}<br>
                <b>根路由：</b>{{d.fatherInfo.basePath}}<br>
                <b>权限组列表：</b>{{d.fatherInfo.authGroup}}<br>
                <b>基础权限继承：</b>{{d.fatherInfo.baseAuth}}<br>
            </div>
        </div>

    </div>

    <div class="layui-col-md6">

        <div class="layui-card">
            <div class="layui-card-header">路由信息</div>
            <div class="layui-card-body">
                {{#  if(d.info === null){ }}

                {{#  }else{ }}
                <b>标题：</b>{{d.info.title}} &nbsp;&nbsp;|&nbsp;&nbsp;Author：{{d.info.Author}}&nbsp;&nbsp;&nbsp;Created：{{d.info.Created}}<br>
                <b>解释：</b>{{d.info.explain}}<br>
                <b>路由：</b><span class="layui-badge">{{d.info.routerType}}</span>&nbsp;&nbsp;</nbsp><span class="layui-badge">{{d.info.requestType}}</span>&nbsp;&nbsp;{{d.info.routerStr}}&nbsp;&nbsp; <span class="layui-bg-green">{{d.info.ReturnType}}</span><br>
                <b>正则内容：</b>{{d.info.matchStr}}<br>

                <b>方法信息：</b>name：{{d.info.function.name}}&nbsp;&nbsp;|&nbsp;&nbsp;Object：{{d.info.routeParamObjectPath}}&raquo;{{d.info.ParamObject}}<br>

                {{#  }}}


            </div>
        </div>

    </div>




</script>




</html>